* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #050505;
}

.calculator {
    background: #191919;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.1), 
                0 0 40px rgba(0, 255, 255, 0.1); 
    width: 360px;
    border: 1px solid #333;
}

.display-container {
    margin-bottom: 20px;
    background-color: #000;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px 15px;
}

#history {
    width: 100%;
    height: 30px;
    color: #008888;
    font-size: 18px;
    text-align: right;
    overflow: hidden;
    margin-bottom: 5px;
}

#result {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    color: #0ff;
    font-size: 36px;
    text-align: right;
    text-shadow: 0 0 10px #0ff;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background: #2d2d2d;
    color: #fff;
    box-shadow: 0 4px #111;
    transition: all 0.1s;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 0px #111;
}

.btn-func {
    background: #212121;
    color: #0ff;
}

.btn-red {
    background: #3a0000;
    color: #ff3131;
    box-shadow: 0 4px #1a0000;
}

.btn-green {
    background: #002600;
    color: #39ff14;
    box-shadow: 0 4px #001a00;
    font-size: 24px;
}

.span-full {
    grid-column: span 4;
    width: 100%;
}